<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- 寫入檔案 -->
    <target xsi:type="File" name="allfile" fileName="D:/Logs/${logger}-All/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- 寫入檔案 (僅應用程式的 log) -->
    <target xsi:type="File" name="ownFile" fileName="D:/Logs/${logger}-App/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!-- 寫入主控台 -->
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />

    <!-- 寫入主控台 (簡化版) -->
    <target xsi:type="ColoredConsole" name="coloredConsole"
            layout="${time} ${uppercase:${level}} ${message} ${exception:format=tostring}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <!-- 略過 Microsoft 的非關鍵訊息 -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- 所有 log 寫入檔案 -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- 應用程式的 log 寫入專屬檔案 -->
    <logger name="drop_upload.*" minlevel="Trace" writeTo="ownFile" />

    <!-- 所有 log 寫入彩色主控台 -->
    <logger name="*" minlevel="Info" writeTo="coloredConsole" />
  </rules>
</nlog>
